.add-to-cart-product-name 
{
	/* font-family: "Dancing Script", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-size: 1.4em;
}

#bodyscrollid{
	width:100%;
	/*min-height:200px;*/
    height:20%;
    max-height: 520px;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    -ms-overflow-y:auto;
    -ms-overflow-x:hidden;
}

#totaltaxid{
	padding-right:30px;

}

#itemsid{
	padding-left:35px;
}

#showhide {
        display:none;
    }

body {
	background-color: gold;
	font-family: "Roberto", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
}
.product-name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color:black;
	font-weight: 800;
}

.size-spice {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .7em;
	color:grey;
	font-weight: 300;
}
.pl-ziro {
	padding-left: 0px;
}
/*
@media only screen and (min-width: 0px) and (max-width: 780px) {


	.placeorderid {
  		margin-left: auto;
    	margin-right: auto;
	}



 	.hr { display: none; }


 	#paymentboxid {
 		position: static;
		padding-top: 1cm;
		bottom: 1px;
		width:100%;
	}

 	#customerinfoid {
 		width:100%;
		bottom: 4px;
		height:20%;
		padding-bottom:4px;
	}	

	#footerid {
		height:auto;
	}	

	#totalid{
		position: bottom;
		bottom: 1px;
   		right: 0px;
	}

	#totalid1{
		position: bottom;
		bottom: 0px;
	}

	*/

}
