<template name="addToCart">
<!--Message2Kitchen-->
<!--Message2Kitchen-->
<div class="modal fade" id="popMessage2KitchenModal" tabindex="-1" role="dialog" aria-labelledby="popMessage2KitchenModalLabel" aria-hidden="true" style=" background-color: rgba(0,0,0,0.10);z-index:3000">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-color:rgba(255,255,255,1.00);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="add-to-cart-product-name" id="popMessage2KitchenModalLabel">{{getModaltTitleMessage}}</span>
      </div>
      <div class="modal-body" >
       
          <div>

            <div class="row padding_10px">
              <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
              Pick a size :
              </div>                
              {{#if hasValue 'PriceMedium'}}
                <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                  <input id="itemSize{{getItemSizeMedium}}" type="radio" name="itemSize" value="{{getItemSizeMedium}}" ><label for="itemSize{{getItemSizeMedium}}"><span><span></span></span>{{getItemSizeMedium}} &nbsp; {{ getFormattedPrice 'PriceMedium' }} </label>
                 </div> 
               {{/if}}  
              {{#if hasValue 'PriceLarge'}}
              <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                  <input id="itemSize{{getItemSizeLarge}}" type="radio" name="itemSize" value="{{getItemSizeLarge}}" checked><label for="itemSize{{getItemSizeLarge}}"><span><span></span></span>{{getItemSizeLarge}} &nbsp; {{ getFormattedPrice 'PriceLarge' }} </label>
                 </div> 

               {{/if}}  
              {{#if hasValue 'PriceXL'}}
              <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                  <input id="itemSize{{getItemSizeExtraLarge}}" type="radio" name="itemSize" value="{{getItemSizeExtraLarge}}" ><label for="itemSize{{getItemSizeExtraLarge}}"><span><span></span></span>{{getItemSizeExtraLarge}} &nbsp; {{ getFormattedPrice 'PriceXL' }} </label>
                 </div> 
               {{/if}}  
            </div>
          </div>
          {{#if askSpiceLevel 'SpiceLevel' }}

              <div >
                  
                    <div class="row padding_10px">
                      <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                        How spicy?
                      </div> 
                      <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                        <input id="spiceLevel{{getSpiceLevelOne}}" type="radio" name="spiceLevel" value="{{getSpiceLevelOne}}" ><label for="spiceLevel{{getSpiceLevelOne}}"><span><span></span></span>{{getSpiceLevelOne}} </label>
                      </div> 
                    <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                        <input id="spiceLevel{{getSpiceLevelTwo}}" type="radio" name="spiceLevel" value="{{getSpiceLevelTwo}}" checked><label for="spiceLevel{{getSpiceLevelTwo}}"><span><span></span></span>{{getSpiceLevelTwo}} </label>
                       </div> 

                    <div class="col-sm-3" style="padding-left: 5px; padding-right: 5px;">
                        <input id="spiceLevel{{getSpiceLevelThree}}" type="radio" name="spiceLevel" value="{{getSpiceLevelThree}}" ><label for="spiceLevel{{getSpiceLevelThree}}"><span><span></span></span>{{getSpiceLevelThree}} </label>
                       </div> 
                  </div>
              </div>

          {{/if}}
          <div class="padding_10px">
           <input  type="text" class="form-control" id="inputMessageToKitchenByItem" name="messageToKitchenByItem" maxlength="44"  placeholder="Message to Kitchen" style="text-align:left" >
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success addcart" data-dismiss="modal">Add to Order</button>
      </div>
    </div>
  </div>
</div>
<!--//Message2Kitchen--> 


</template>