<template name="cart">
<div align="center" class="checkout-modal-modal" id="checkout-modal-modal" style="display:none;" scroll="yes">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info" style="border: none; box-shadow:2px 2px 20px rgba(0,0,0,0.20) ;" >
        <div class="panel-heading" style="background-color:#c0392b; color:gold">
          <div class="panel-title" >
            <div class="row">
              <div class="col-xs-6">
                <h4 class="pull-left" >Your Order...</h4>
              </div>
              <div class="col-xs-6">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="checkout-modal-close-trigger" style="color:gold;opacity: unset"><span  aria-hidden="true">&times;</span></button>
              </div>
            </div>
          </div>
        </div>
        
        <div CLASS="BODY" id="bodyscrollid">

            <div class="panel-body"  id="panelbodyid">

              {{#each shopCart}} 

              <div class="row"> 
        
                <div class="col-xs-6 pull-left">
                    <div class="product-name"> 
                        {{Name}}
                        <small class="size-spice"> 
                          {{{getSelectedItemSize this}}} 
                          {{{getSelectedSpiceLevel this}}}
                        </small>
                    </div>
                <div>
                  <input  type="text"  size="44" name="messageByItem" maxlength="44" id="inputMessageByItem"  class="message-to-kitchen" placeholder="Message to Kitchen" value="{{messageToKitchenByItem}}" >
                </div>
                </div>
                <div class="col-xs-2 text-right"> 
                    <input name="product_{{product}}" value="{{qty}}" type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="qtyy-modal" id="product_in_cart"  size="2" maxlength="2" border="0">

                </div>         
           
                <div class="col-xs-2 text-right">
                    <strong style="font-weight:800; color:black;padding-bottom:10px;">{{currency totalPrice}}</strong>
                  </div>
               
                <div class="col-xs-2 text-right">
                    <button type="button" class="btn btn-link btn-s removecart"> <span class="glyphicon glyphicon-trash"> </span> </button>
                </div>
                
           
              </div>

              <hr style="border:dashed thin rgba(175,110,0,0.50)">

              {{/each}}


            </div>

        </div>

        <!--Customer Details-->
        <div class="panel-footer" id="footerid" >
          <!--
          <div class="row" id='largescreen'>
            <div class="col-sm-6" id="customerinfoid"  >
              <input  type="text"   maxlength="25"  name="contactName"       id="inputContactName"       class="customer-info" required placeholder="(Required) Your Name" > <br/>
              <input  type="email"  maxlength="60"  name="email"             id="inputEmail"             class="customer-info" required placeholder="(Required) Your Email for confirmation" > <br/>
              <input  type="tel"    maxlength="15"  name="phoneNumber"       id="inputPhoneNumber"       class="customer-info" required placeholder="(Required) Your Phone Number" > <br/>
              <input  type="text"   maxlength="44"  name="messageToKitchen"  id="inputMessageToKitchen"  class="customer-info" placeholder="Any Special Instruction?" > <br/>              
            </div>
            <div class="col-sm-6">
              <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                     <td >
                      &nbsp;
                     </td>
                      <td  style="text-align:right; padding-left: 50px;">
                        <span class="total-space" >Subtotal:</span> <br />
                        <span class="total-space">Tax:</span> <br />
                        <span class="total-space">Discount:</span> <br />
                        <span class="total-space" style="font-weight: bold; color: #4d4d4d">Total:</span><br />
                        <span class="total-space" style="font-weight: bold; color: #4d4d4d">Payment:</span>
                      </td>

                        <td  style="text-align: right; padding-right:50px">     
                          <span class="total-space">{{currency shopCart.subtotal }}</span> <br />
                          <span class="total-space">{{currency shopCart.tax}}</span> <br />
                          <span class="total-space">({{currency shopCart.discount}})</span> <br /> 
                          <span class="total-space" style="font-weight:bold; color: #4d4d4d">{{currency shopCart.total}}</span><br />
                          <span class="total-space" style="font-weight: bold; color: #4d4d4d">At Pickup</span>
                      </td>
                  </tr> 
              </table>
            </div>
          </div>
        -->
          <!--Small screen -->
          <div class="row" id='smallscreen'>
            <div class="col-sm-6">
              <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                      <td  style="text-align:right;padding-left:50px">
                        {{#if showSubTotal shopCart.tax shopCart.discount }}
                          <span class="total-space" >Subtotal:</span> <br />
                        {{/if}}
                        {{#if showDiscount shopCart.discount }}
                          <span class="total-space">Discount:</span> <br />
                        {{/if}}
                        {{#if showTax shopCart.tax }}
                          <span class="total-space">Tax:</span> <br />
                        {{/if}}
                        <span class="total-space" style="font-weight: bold; color: #4d4d4d">Total:</span><br />
                        <span class="total-space" style="font-weight: bold; color: #4d4d4d">Payment:</span><br />
                        <span class="total-space" style="font-weight: bold; color: #4d4d4d">Delivery:</span>
                      </td>

                        <td  style="text-align: right; padding-right:50px"> 
                          {{#if showSubTotal shopCart.tax shopCart.discount }}
                            <span class="total-space">{{currency shopCart.subtotal }}</span> <br />
                          {{/if}}
                          {{#if showDiscount shopCart.discount }}
                            <span class="total-space">({{currency shopCart.discount}})</span> <br /> 
                          {{/if}}
                          {{#if showTax shopCart.tax }}
                            <span class="total-space">{{currency shopCart.tax}}</span> <br />
                          {{/if}}

                          <span class="total-space" style="font-weight:bold; color: #4d4d4d">{{currency shopCart.total}}</span><br />
                          <span class="total-space" style="font-weight: bold; color: #4d4d4d">At Pickup</span><br />
                          <span class="total-space" style="font-weight: bold; color: #4d4d4d">Carry Out</span>
                      </td>
                  </tr> 
              </table>
            </div>
            <div class="col-sm-6" id="customerinfoid"  >
              <input  type="text"   maxlength="25"  name="contactName"       id="inputContactName"       class="customer-info" required placeholder="(Required) Your Name" > <br/>
              <input  type="email"  maxlength="60"  name="email"             id="inputEmail"             class="customer-info" required placeholder="(Required) Your Email for confirmation" > <br/>
              <input  type="tel"    maxlength="15"  name="phoneNumber"       id="inputPhoneNumber"       class="customer-info" required placeholder="(Required) Your Phone Number" > <br/>
              <input  type="text"   maxlength="44"  name="messageToKitchen"  id="inputMessageToKitchen"  class="customer-info" placeholder="Any Special Instruction?" > <br/>              
            </div>    

          </div>
          <div class="row" > 
              <div class="col-xs-12">
                <hr style="border:solid thin rgba(175,110,0,0.50)">
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-default pull-right"  id="checkout-modal-close-trigger">Close</button>
              </div>
              <div  class="col-xs-6 pull-left" id="placeorderid" style='padding-bottom:15px;'>
                <button type="button" class="btn btn-success" style='background-color: gold;color:black;border-color:gold' id="placeOrder"> Place Order </button>
              </div>
          </div>
        </div>  

      </div>
    </div>
  </div>
</div>
</div>
<div align="center" class="nav navbar-fixed-bottom" style="background-color:gold;padding:10px;z-index:5000;">
  <button id="checkout-modal-trigger" class="bttn-modal">Togo Order ({{cartItemCount}})</button> 
  <div class="col-lg-12" >Powered by <a href='http://websheets.io'>Websheets&#8482;</a></div>
</div>



</template>